<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Spots</h1>
<a class="btn btn-info mb-2" href="/spots/new">Add Spot</a>
<% for (let spot of spots) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <%if(spot.images.length){%>
      <img
        style="max-width: 100%; max-height: 100%"
        class="img-fluid"
        alt=""
        src="<%= spot.images[0].thumb %>"
      />
      <% }else{ %>
      <img
        class="img-fluid"
        alt=""
        src="https://images.unsplash.com/photo-1631623309692-94c4e69a96ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= spot.title %></h5>
        <p class="card-text"><%= spot.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%= spot.location %> </small>
        </p>
        <a class="btn btn-primary" href="/spots/<%= spot._id %>"
          >View <%= spot.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const spots = {features:<%-JSON.stringify(spots)%>}
</script>
<script src="/javascripts/clusterMap.js"></script>
